html {
    height: 100%;
}

body {
    height: 100%;
    background-color:#cd8c95;
}
a {
    text-decoration: none;

}
.main {
width:100%;
background-image: url("https://media1.popsugar-assets.com/files/thumbor/nqg9c1zzKF7Bg-VWP6M8G1gl6zI/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2017/04/24/382/n/38922769/7bdcdacbd15f4254_BEBE_REXHA_06_210.jpg")
}
.image{
    display:flex;
    justify-content:center;
    width:100%;
    background-image:linear-gradient(violet, yellow, pink); 
    border: 5px solid purple;
    padding: 20px;
}
.aboutMain{
    display:flex;
    justify-content:center;
    padding: 25px;
    margin: 15px;
}
.leftPane{
    width: 50%;
     font-family: 'Bree Serif', serif;
    font-size: 20px;
}
.rightPane{
    width:50%;
    background-image:linear-gradient(violet, yellow, pink);
    width:36%;
    display:flex;
}
.bebe{
    width: 400px;
    height: 420px;
    border: 5px solid purple;
    padding: 25px;
    display:flex;
}

.social-image{
    width: 30px;
    margin: 10px;
}
.header{
 display:flex;
justify-content:center;
background-color:#c8b0b3;
font-family: 'Berkshire Swash', cursive;
font-size: 45px;
}
.navbar{
    display:flex;
    justify-content:space-around;
    background-color:#e3d9c5;
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    margin: 12px;
    padding: 5px;
}
.footer{
    display:flex;
    justify-content: space-around;
    width: 100%;
    background-color:#e3d9c5; 
}
.social{
    width: 70%;
}
p{
    width: 30%;
}
.gallery{
 width: 100%;
 display:flex;   
 flex-wrap:wrap; 
}
.thumbnail-image{
 width:400px;
 height:420px;
 border: 5px dotted purple;
 margin:20px;
}
